
.staff {
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px;
    margin: 0 auto;
    
  }
  .staffhp h1{
    font-size: 26px;
    text-align: left;
    margin-left: 10px;
    
  }
  .staffhp p{
    font-size: 16px;
    text-align: left;
    margin-left: 10px;
  }
  .staffhp{
    line-height: 0.4;
    
  }
  
  .staff-management {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .staff-head {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 200px;
    flex-wrap: wrap;
    margin-top: 50px;
    background-color: #ffff;
    padding: 10px;
    height: 150px;
    width: 1500px;
    border-radius: 10px;
    padding: 10px 40px 10px 40px;
  }
  
  .staff-search {
    text-align: left;
    align-items: left;
    position: relative;
    line-height: 0.4;
    font-size: 14px;
  }
  
  .search-input {
    padding: 10px 40px 10px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 250px;
  }
  
  .btn-search {
    position: absolute;
    right: 10px;
    border: none;
    background: transparent;
    cursor: pointer;
    color: #888;
  }
  
  .btn-search:hover {
    color: #333;
  }
  
  .staff-count {
    text-align: left;
    line-height: 0.5;
    margin-top: 30px;
  }
  
  .staff-count h3 {
    font-size: 26px;
    margin: 0;
    color: #444;
  }
  
  .staff-count p {
    font-size: 14px;
    color: #444;
  }
  .staff-filter{
    line-height: 0.4;
    text-align: left;
    font-size: 14px;
    
  }
  .staff-filter select {
    padding: 10px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    background-color: #cee6ff;
    font-size: 14px;
  }
  
  .btn-add-staff {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .btn-add-staff:hover {
    background-color: #0056b3;
  }

  
  /* Staff table styling */
  .staff-table{
    background-color: #ffffff;
    border-radius: 20px;
  }
  .staff-table table {
    width: 100%;
    border-collapse: collapse;
    
  }
  
  .staff-table th, .staff-table td {
    padding: 12px 15px;
    text-align: left;
    
  }
  .staff-table td{
    border-bottom: 1px solid #ddd;
  }
  
  .staff-table th {
    background-color: #ffff;
    font-weight: bolder;
  }
  
  .staff-table tr:hover {
    background-color: #f9f9f9;
  }
  
  .btn-edit, .btn-delete {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
    display: flex;
  }
  
  .btn-edit {
    background-color: #00974400;
    color: #009744;
    
  }
  
  .btn-edit:hover {
    background-color: #00b318;
    color: #ffff;
  }
  
  .btn-delete {
    color: #dc3545;
    background-color: rgba(255, 0, 0, 0);
  }
  
  .btn-delete:hover {
    background-color: #c82333;
    color: #ffff;
  }
  .btn-add-delete{
    display: flex;
    
  }
  /* Pagination styling */
.pagination {
    margin-top: 20px;
    text-align: center;
  }
  
  .page-button {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .page-button.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
  }
  
  .page-button:hover {
    background-color: #0056b3;
    color: white;
  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .modal-content h2 {
    margin-bottom: 20px;
  }
  
  
  @media (max-width: 768px) {
    .staff-head {
      display: flex;
      width: 500px;
      gap: 10px;
    }
    .staff-search{
        width: 100%;
    }
    .search-input{
        width: 100%;
    }
  
    .staff-search, .staff-count, .staff-filter, .btn-add-staff {
      margin-bottom: 10px;
      
    }
  
    
    .staff-table table {
      max-width: 700px;
      font-size: 12px;
    }
  
    .staff-table th, .staff-table td {
      padding: 5px;
    }
    .pagination {
        margin-top: 20px;
        text-align: left;
      }
    .page-button {
        background-color: #f4f4f4;
        border: 1px solid #ddd;
        padding: 5px;
        margin: 0 1px;
        cursor: pointer;
        border-radius: 5px;
      }
  }
  @media (max-width:1900px){
    .staff-head{
        width: 1000px;
        gap: 100px;
    }
    .staff-table{
        font-size: 14px;
    }
    .staff-table th{
        font-size: 16px;
        text-align: center;
    }
  }